<h1 class="title is-1">World Covid-19 Status</h1>
<%# align colons somehow %>
<p>World-wide confirmed: <%=@wwConfirmed%></p>
<p>World-wide death: <%=@wwDeaths%></p>
<p>World-wide recovered: <%=@wwRecovered%></p>
<p>World-wide active: <%=@wwActive%></p>
<br>