<h1>About this site:</h1>
<p>All data source used in this website originates from https://www.kaggle.com/imdevskp/corona-virus-report</p>
<p>Data modeled based on the following ERD</p>
<%=image_tag('erd/erd.png')%>